
html,body{
  margin: 0;
  font-family: sans-serif;
  display: block;
  height: 100%;
  width: 100%;
 
}

#header{
  display: flex;
  align-items: center;
  background-color: #F8F8F8;
  border-bottom: solid;
  border-left: solid;
  border-right: solid;
  border-width: 0.5px;
  border-color: rgb(119, 119, 120, 0.25);
}

.h-i-top-bar{
  color: #002366;
  font-size: 15px;
  justify-content: center;
  width: 38.2%;
  padding: 5px 5px 5px 100px;
}

.top-bar-item{
  display: inline-block;
}

.empty-header{
  width: 61.8%;
  color: white;
  justify-content: center;
}


.action-menu{
  list-style: none;
}

.action-menu-item{
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.menu-button{
  color: black;
  font-size: 15px;
  background-color: rgba(0,0,0,0.0);
  border-width: 0;
  border-color: rgba(0,0,0,0.0);
  padding: 3px;
}
.menu-button:hover{
  color: rgb(119, 119, 120);
  cursor: pointer;
}


#introduction{
  width: 100%;
}

.intro-video{
  width: 100%;
}

#status{
  text-align: center;
  padding: 40px 5px 40px 5px;
  color: black;
}

#footer{
  background-color: #F8F8F8;
  padding: 40px 5px 40px 5px;
  text-align: center;
}

.footer-item{
  margin-left: 10px;
  margin-right: 10px;
}
